#logo{
  width: 200px;
  height: 150px;
  padding: 15px;
}

#thumbnail{
  width: 100px;
  height: 100px;
}

#add-button{
  margin-top: 70px;
  margin-right: 40px;
}
.list-item {
  display: flex;
  height: 30px;
  justify-content: space-between;
  width: 100%;
}

.list-item .group-label {
  text-align: right;
  width: 23%;
}

.list-item .group-data {
  width: 75%;
}
